@import '../../css/variables.scss';

// h5 {
//   color: $black;
// }

h6.bk-white {
  color: $white;
}

.bk-txt-small{
  font-size: $font-xs
}

.bk-btn-white {
  @include buttonTheme(whiteBorderedStyle);
}

.bk-btn-group{
  button{
    margin-right : $spacing;
  }
}

.bk-btn-black {
  @include buttonTheme(blackStyle);

  &:hover{
    box-shadow: 0 0 20px rgba($black, .3);
  }
}

.bk-btn-black-bordered {
  @include buttonTheme(borderedStyle);
}

.bk-icon {
  font-size: 1.3rem;
}

