@import "../../css/variables.scss";

// h5 {
//   color: $black;
// }

h6.bk-white {
  color: $white;
}

.bk-txt-small {
  font-size: $font-xs;
}

.bk-btn-white {
  @include buttonTheme(whiteBorderedStyle);
}

.bk-btn-group {
  button {
    margin-right: $spacing;
  }
}

.bk-btn-black {
  @include buttonTheme(blackStyle);
  transition: 0.3s;

  &:hover {
    background: $blue;
    border-color: $blue;
  }
}

.bk-btn-black-bordered {
  @include buttonTheme(borderedStyle);
}

.bk-icon {
  font-size: 1.3rem;
}
