@import '../../css/variables.scss';

$bk-full-page: calc(100vh - 100px);
$bk-ad-duration: .6s;
$bk-container-min-height: 660px;

.bk-page-load{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: $black;
  top: 0;
  left: 0;
  z-index:100;
}

.bk-mouse{
  width: 24px;
  height: 38px;
  border-radius: 50px;
  border: 1px solid $white;
  position: absolute;
  bottom: $spacing*3;
  left: 50%;
  margin-left: -12px;
  animation-delay: .5s;

  .bk-mouse-ball{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: $white;
    margin: 5px auto 0 auto;
    animation-duration: 1.2s;
    animation-delay: 1s;
  }
}

.bk-home-slider {
  height: calc(100vh - 218px);
  min-height: $bk-container-min-height - 100px;
  background-color: grey;
  margin-bottom: $spacing*2;
  position: relative;

  .bk-slides{
    background-color: grey;
    height: 100%;
    position: relative;

    img{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      // z-index: 0;
    }
    
    .bk-slide-content{
      position: relative;
      // z-index: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }
  }
}

/* ----- ADS ----- */
.bk-ads {
  height: $bk-full-page;
  min-height: $bk-container-min-height;


  .bk-ads-container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

    .bk-ad{
      position: absolute;
      width: calc(100% - 130px);
      left: 50%;
      transform: translateX(-50%);

      &.hidden{
        // visibility: hidden;
      }

      .bk-ad-block {
        position: absolute;
        display: flex;
        left: 7rem;
        top: -80px;
        z-index: 3;
        animation-duration: $bk-ad-duration;

        &.fadeInRight{
          animation-delay: .3s;
        }

        .bk-block-num {
          width: 140px;
          height: 140px;
          line-height: 140px;
          text-align: center;
          background-color: #050505;
          color: white;
          font-size: 4rem;
          font-weight: 800;
        }
      
        .bk-block-text {
          margin: 1rem 0 0 2rem;
          font-weight: 800;
      
          .bk-h3 {
            font-size: $font-xl;
          }
          .bk-h5 {
            padding-left: $spacing;
            font-size: $font-m;
          }
        }
      }
      
      .bk-ad-slide {
        width: 85%;
        animation-duration: $bk-ad-duration;

        &.fadeInRight{
          animation-delay: .3s;
        }

        .bk-ad-img {
          background-color: grey;
          height: calc(100vh - 300px);
          min-height: $bk-container-min-height - 200px;
          max-height: 600px;
          width: 100%;
        }
      }
      
      .bk-ad-text {
        background-color: #050505;
        position: absolute;
        top: 50%;
        width: 350px;
        //transform: translateY(-50%);
        right: 0;
        padding: $spacing*4 $spacing*2;
        color: white;
        text-align: center;
        animation-duration: $bk-ad-duration;

        &.fadeInRight{
          animation-delay: .3s;
        }

        h3{
          margin-bottom: $spacing;
        }
        button{
          margin-top: $spacing;
        }
      }
    }
  }
}


.bk-arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  >div{
    cursor: pointer;
  }
}

.bk-ad-list-buttons {
  position: absolute;
  bottom: 50px;
  left: 65px;

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      width: 100px;
      height: 5px;
      background-color: $black;
      margin: 0 1rem;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      &.active{
        background-color: $blue;
      }
    }
  }
}

/* ----FEATURED PRODUCTS----- */

.bk-featured-products {
  background-color: black;
}

.bk-featured-wrapper {
  padding: 5rem;
}

.bk-featured-product-item {
  background-color: white;
  height: 520px;
  position: relative;
  margin: $spacing 0;

  &:hover .bk-featured-hover{
    opacity: 1;

    .bk-featured-stars{
      @for $i from 1 through 5 {
        svg:nth-child(#{$i}){
          left: #{($i - 1) * 18}px;
        }
      }
    }

    .bk-featured-icon-list{
      @for $i from 1 through 2 {
        >div:nth-child(#{$i}){
          top: #{($i - 1) * 30}px;
        }
      }
    }
    
    .bk-featured-name{
      //left: 1.5rem;
      bottom: 1.5rem;
    }
    .bk-featured-price{
      right: 1.5rem;
    }
  }

  .bk-featured-hover{
    background-color: rgba($black, .5);
    position: absolute;
    color: $white;
    width: 100%;
    height: 100%;
    opacity : 0;
    transition: .3s;
  }

  &.bk-box {
    background-color: transparent;
    // box-shadow: 0 0 0 1px inset white;
    color: white;
    text-align: center;

    .bk-box-content {
      padding: 3rem;
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      h3 {
        line-height: 2.5rem;
      }      

      button {
        margin-top: 3rem;
      }
    }
  }

  .bk-featured-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 240px;
    background-color: grey;

    img{
      width: 100%;
    }
  }

  .bk-featured-icon-list {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    width: 1.5rem;
    display: flex;
    flex-direction: column;
    font-size: $icon-regular;

    >div{
      position: absolute;
      top: 0;
      margin-bottom: 1rem;
      transition: .3s;
      cursor: pointer;

      svg{
        vertical-align: top;
        transition: .3s;
      }

      &:hover svg{
        stroke: $blue;
      }
    }
  }  

  .bk-featured-stars {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;

    svg{
      position: absolute;
      transition: .3s;
      left: 0;
    }
  }

  .bk-featured-info {
    position: absolute;
    width: 100%;
    //bottom: 1.5rem;
    bottom: 0;
    transition: .3s;
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    align-items: flex-end;

    .bk-featured-name {
      position: absolute;
      //left: 0;
      left: 1.5rem;
      bottom:0;
      display: flex;
      flex-direction: column;
      word-break: break-word;
      width: calc(50% - 1.5rem);
      transition: .3s;

      .bk-ftr-product-name {
        font-size: 1.2rem;
      }
    }

    .bk-featured-price {
      position: absolute;
      right: 0;
      bottom: 1.5rem;
      //right: 1.5rem;
      font-size: 1.2rem;
      width: calc(50% - 1.5rem);
      text-align: right;
      transition: .3s;
    }
  }
}

//------- COLLECTIONS ------

.bk-collection{
  height: $bk-full-page;
  min-height: $bk-container-min-height;
  position: relative;

  &.white{
    background-color: $white;
    color: $white;
    .collection-titles{
      color: $black;
    }
  }
  &.blue{
    background-color: $blue;
    color: $white;
  }
  &.orange{
    background-color: $orange;
    color: $white;
  }


  .bottom{
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      // object-position: bottom;
      // filter: blur(8px);
      // transform: scale(1.3);
    }
  }

  .bk-collection-content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $spacing * 6 0;

    .content-bottom{
      display: flex;
      justify-content: space-between;

      button{
        @include buttonTheme(whiteBorderedStyle)
      }
    }

    .collection-img{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      img{
        max-width: 300px;
      }
    }
  }
}
