@import '../../css/variables.scss';

.bk-home-slider {
  height: calc(100vh - 218px);
  background-color: grey;
  margin-bottom: 5rem;
}

/* ----- ADS ----- */
.bk-ads {
  position: relative;
  padding: 0 5rem;
  margin-bottom: 5rem;
}

.bk-ad-block {
  position: absolute;
  display: flex;
  left: 7rem;
  z-index: 3;
}

.bk-ad-block .bk-block-num {
  width: 140px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  background-color: #050505;
  color: white;
  font-size: 4rem;
  font-weight: 800;
}

.bk-ad-block .bk-block-text {
  margin: 1rem 0 0 2rem;
}

.bk-block-text .bk-h3 {
  font-size: 2rem;
  font-weight: 800;
}

.bk-block-text .bk-h6 {
  margin-left: 15px;
  font-size: 1.2rem;
  font-weight: 800;
}

.bk-ad-slide {
  position: relative;
  padding: 4rem 0;
  display: flex;
}

.bk-ad {
  background-color: grey;
  width: 80%;
  height: 550px;
}

.bk-ad-text {
  background-color: #050505;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 30%;
  padding: 30px;
  color: white;
  text-align: center;
}

.bk-arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.bk-ad-list-buttons {
  position: absolute;
  bottom: 2rem;
}

.bk-ad-list-buttons ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.bk-ad-list-buttons ul li {
  list-style: none;
  width: 100px;
  height: 5px;
  background-color: black;
  margin: 0 1rem;
}
.bk-ad-list-buttons ul li:first-child {
  margin-left: 0;
}

/* ----FEATURED PRODUCTS----- */

.bk-featured-products {
  background-color: black;
  /* height: 100vh; */
}

.bk-featured-wrapper {
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.bk-featured-product-item {
  background-color: white;
  background-clip: content-box;
  /* width: 33%; */
  flex: 1 1 30%;
  height: 520px;
  position: relative;
  border: solid 1rem transparent;
  box-sizing: content-box;
}

.bk-featured-product-item:nth-child(3n + 2) {
  top: 5rem;
}

.bk-featured-icon-list {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.bk-featured-icon-list svg {
  margin-bottom: 1rem;
}

.bk-featured-stars {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1.5rem;
}

.bk-featured-stars svg {
  vertical-align: baseline;
}

.bk-featured-info {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1.5rem;
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
  align-items: flex-end;
}

.bk-featured-name {
  display: flex;
  flex-direction: column;
  word-break: break-word;
  padding-right: 2rem;
}

.bk-ftr-product-name {
  font-size: 1.2rem;
}

.bk-featured-price {
  font-size: 1.2rem;
}

.bk-featured-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: grey;
}

.bk-featured-product-item.bk-box {
  background-color: transparent;
  box-shadow: 0 0 0 1px inset white;
  color: white;
  text-align: center;
}

.bk-featured-product-item.bk-box button {
  margin-top: 3rem;
}

.bk-box-content {
  padding: 3rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.bk-box-content h3 {
  line-height: 2.5rem;
}
