@import "../../css/variables.scss";
@import "./myVars.scss";

@media (max-width: $bp-sm) {

  .bk-mouse {
    display:none;
  }

  .bk-home-slider {
    height: $bk-full-page-RWD - 200px;
    min-height: $bk-container-min-height - 100px;

  }

  /* ----- ADS ----- */

  .bk-ads{
    height: $bk-full-page-RWD;
  }


  /* ----FEATURED PRODUCTS----- */

  .bk-featured-products{
    .bk-featured-wrapper {
      padding: 2rem 1rem;

      >div:nth-child(3n + 2){
        display: none;
      }
    }

    .bk-featured-product-item {

      .bk-featured-hover {
        background-color: transparent;
        opacity: 1;
        color: $black;
        display: flex;
        flex-direction: column;

        .bk-featured-stars {
          svg{
            position: relative;
            margin-left: 3px;
          }
        }
    
        .bk-featured-icon-list {
          position: relative;
          right: 0;
          top: 0;
          flex-direction: row;

          >div{
            position: relative;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  //------- COLLECTIONS ------

  .bk-collection {
    height: $bk-full-page-RWD;
    min-height: $bk-full-page-RWD;

    .bottom{
      .react-parallax-bgimage{
        height: $bk-full-page-RWD !important;
      }
    }

    .bk-collection-content {
      padding: $spacing * 4 $spacing;

      .content-bottom{
        flex-direction: column;
        align-items: center;

        .collection-info{
          max-width: 100%;
          margin-bottom: $spacing;
          text-align: center;
        }
      }

      .collection-img {
        img {
          max-width: 190px;
        }
      }
    }
  }
}
