$bk-full-page: calc(100vh - 100px);
$bk-full-page-RWD: 640px;

$bk-ad-duration: 0.6s;
$bk-container-min-height: 660px;

//文字間距
$bk-letter-spacing: 1px;

//max container width for story page
$bk-stories-max-width : 680px;