@import '../../css/variables.scss';
@import '../css/all.scss';
@import './myVars.scss';

.bk-stry-icons {
  margin-right: $spacing/2;
}

.bk-tmp-img {
  width: 50px;
  height: 50px;
  background-color: $yellow;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
}

.bk-stories-container {
  margin: (-$spacing) (-$spacing) $spacing * 2;

  .bk-masonry-brick {
    width: 33.33%;
    cursor: pointer;
    padding: $spacing;

    &:hover .bk-card {
      color: $black;
      box-shadow: 0 0 20px rgba($black, 0.3);
    }
  }
}
.bk-card-linkwrapper {
  color: $black;

  .bk-card {
    background-color: $white;
    width: 100%;
    border-radius: 0;
    padding: $spacing;
    min-height: 300px;
    max-height: 600px;
    position: relative;
    transition: 0.3s;

    &.bk-collapse {
      &:after {
        content: '';
        font-size: $font-m;
        font-weight: $font-bold;
        text-align: center;
        display: block;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), $white);
        width: 100%;
        height: 100px;
        line-height: 100px;
        position: absolute;
        bottom: $spacing + 48.73px;
        left: 0;
      }
    }

    .card-header {
      background-color: transparent;
    }

    .card-body {
      overflow: hidden;

      h3{
        font-size: $font-x;
        margin-bottom: $spacing;
      }

      img {
        width: 100%;
      }
    }

    .card-footer {
      background-color: transparent;
    }
  }
}

.bk-card-user {
  display: flex;

  .bk-card-userimg {
    width: 50px;
    height: 50px;
    background-color: $grey;
    border-radius: 50%;
    margin-right: $spacing;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

//-----BUTTON FOR MORE-----

.bk-btn-more {
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: $spacing * 2;
  transform: scale(1);
  transition: 0.3s;

  &.hidden {
    transform: scale(0);
  }
}

//-----STORY PAGE-----

.bk-page-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .bk-page-title {
    font-weight: $font-bold;

    span:nth-child(1) {
      font-size: $font-x;
      letter-spacing: $bk-letter-spacing;
      margin-right: $spacing;
    }
    span:nth-child(2) {
      font-size: $font-m;
      margin-right: $spacing;
    }
    span:nth-child(3) {
      font-weight: 400;
      color: $grey;
    }
  }
}

.bk-sort {
  position: relative;
  width: 150px;
  text-align: right;
  cursor: pointer;

  div[role='button'] {
    padding: 0 $spacing;
  }

  ul {
    position: absolute;
    z-index: 1;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
    // background-color: red;

    &.active {
      max-height: 400px;
    }

    li {
      list-style: none;
      padding: $spacing;
      background-color: $background;

      &:hover {
        background-color: $grey;
      }
    }
  }
}

.bk-story-head {
  // text-align: center;
  padding: $spacing * 3;

  .title {
    font-size: $font-xl;
    font-weight: $font-bold;
  }
  .user {
    margin-top: $spacing;
    display: flex;
    align-items: center;

    .img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: $spacing;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .name {
      // margin-top: $spacing;
      font-size: $font-m;
      font-weight: $font-bold;
    }
  }
  .date {
    font-size: $font-xs;
  }
}

.bk-story-container {
  //因為head跟content共用，所以拉出來
  margin: 0 auto;
  width: 75%;
  max-width: 680px;
}

.bk-story-wrapper {
  background-color: $white;

  .bk-story-content {
    overflow: hidden;
    padding: $spacing * 6 0;

    img {
      width: 100%;
    }
  }
}

.bk-reply-wrapper {
  .bk-reply-container {
    max-width: 75%;
    margin: 0 auto;
    padding: $spacing * 2;

    .bk-story-reply {
      // margin-top: $spacing*2;
      // background-color: $white;
      padding: $spacing * 4 0;

      textarea {
        width: 100%;
        resize: none;
        height: auto;
        background-color: transparent;
        border: none;
        border-bottom: solid 1px $black;
        padding: $spacing 0;

        &:focus {
          outline: none;
        }
      }

      button {
        margin-top: $spacing;
      }
    }
  }
}

.bk-reply-textarea {
  padding: $spacing * 2;
  background-color: rgba($grey, 0.5);
  overflow: hidden;
  max-height: 300px;
  transition: 0.3s;

  &.hidden {
    // display: none;
    max-height: 0;
    padding: 0 $spacing * 2;
  }

  textarea {
    width: 100%;
    resize: none;
    height: auto;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px rgba($black, 0.3);
    padding-top: $spacing;
    // padding: $spacing/2 0;

    &:focus {
      outline: none;
    }
  }
  .bk-reply-btn-group {
    display: flex;
    justify-content: flex-end;
    margin-top: $spacing;

    button {
      margin-left: $spacing;
    }
  }
}

.bk-recursive-replies-container {
  padding-bottom: $spacing * 4;

  &.bk-reply-page {
    margin: 0 (-$spacing);
  }

  .bk-r {
    padding-left: $spacing * 3;
    // border-left: solid 1px $grey;
    border: none;
  }

  & > .bk-r {
    // border-bottom: solid 1px $grey;

    // border: none;
    margin-top: $spacing * 2;
    padding-left: 0;

    > .bk-story-replies {
      background-color: $white;
    }
  }

  .bk-story-replies {
    padding: $spacing * 2;
    margin-top: $spacing * 2;
    background-color: rgba($white, 0.5);

    .rply-to {
      margin-bottom: $spacing;
    }

    .bk-rply-head {
      display: flex;

      .bk-rply-user-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 $spacing $spacing 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .bk-rply-body {
      white-space: pre-line;
    }

    .bk-rply-foot {
      display: flex;
      justify-content: flex-end;
      color: $grey;

      div[role='button'] {
        cursor: pointer;
      }
    }
  }
}

// ----- MEMBER STORY LIST PAGE ------

.bk-story-top{
  display: flex;
  justify-content: space-between;
}


.bk-story-list {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    // margin-top: $spacing;
    padding: $spacing * 1.5 0;
    border-bottom: solid 1px $background;
    // cursor: pointer;

    &.inactive {
      // background-color: $grey;
      opacity: 0.3;
    }

    &:nth-child(1) {
      margin-top: $spacing * 2;
      border-top: solid 1px $background;
    }

    // &:hover{
    //   background-color: $background;
    // }

    .bk-story-li-content {
      width: 100%;
      word-wrap: break-word;

      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        // .stats {
        //   .bk-stry-icons {
        //     margin-right: $spacing/2;
        //   }
        // }
        .funcs {
          display: flex;

          > div[role='button'] {
            margin-left: $spacing/2;
            cursor: pointer;

            a {
              color: $black;
            }
          }
        }
      }

      & > div {
        margin: $spacing/2 0;

        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
    }
  }
}
