@import '../../css/variables.scss';


.bk-stories-container{
  // margin: - $spacing/2;

  .bk-masonry-brick{
    width: 33.33%;
    cursor: pointer;
    padding: $spacing/2;

    &:hover .bk-card{
      box-shadow: 0 0 20px rgba($black, .3);
    }
  }

}

.bk-card {
  background-color: $white;
  width: 100%;
  border-radius: 0;
  padding: $spacing;
  min-height: 300px;
  max-height: 600px;
  position: relative;
  transition: .3s;

  &.bk-collapse{
    &:after{
      content: '...更多';
      font-size: $font-m;
      font-weight: $font-bold;
      text-align: center;
      display: block;
      background-image: linear-gradient(rgba(255, 255, 255, .5), $white);
      width: 100%;
      height: 100px;
      line-height: 100px;
      position: absolute;
      bottom: $spacing + 48.73px;
      left: 0;
    }
  }

  .card-header{
    background-color: transparent;
  }

  .card-body{
    overflow: hidden;

    img{
      width: 100%;
    }
  }

  .card-footer{
    background-color: transparent;
  }
}

.bk-card-user{
  display: flex;

  .bk-card-userimg{
    width: 50px;
    height: 50px;
    background-color: $grey;
    border-radius: 50%;
    margin-right: $spacing;
  }
}

//-----BUTTON FOR MORE-----

.bk-btn-more{
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: $spacing*2;

  &.hidden{
    display:none;
  }
}

//-----MODAL-----
.bk-modal-backdrop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($black, .5);
  padding: 50px;
  z-index: 100;
}

.bk-modal{
  background-color: $white;
  border-radius: 5px;
  width: calc(100vw - #{$spacing * 3});
  max-height: calc(100vh - #{$spacing * 3} - 100px);
  overflow-y: scroll;
  min-height: 500px;
  padding: $spacing*2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;

  .bk-modal-content{
    img{
      width: 100%;
    }
  }
}
