$pageTitle-fontSize: 22px;
$blockTitle-fontSize: 20px;
$title-fontSize: 18px;
$p-fontSize: 16px;
$small-fontSize: 15px;
$green: #0dd2c5;
$deepGray: #a0a0a0;
$bodyColor: #f8f8f8;

@mixin couponForMobile {
  @media screen and (max-width: 576px) {
    .container {
      max-width: 100%;
    }
    .wrap {
      padding: 0 15px;
    }
    .bread {
      h3 {
        text-align: left;
      }
      .row {
        align-items: center;
      }
      .mobileFilter {
        display: flex;
      }
    }
    .sty-sideFilter {
      display: none;
    }
    .coupon {
      padding: 0;
    }
  }
}
@mixin pad {
  @media screen and (max-width: 768px) {
  }
}
@mixin lg {
  @media screen and (max-width: 992px) {
  }
}

