@import './var.scss';
@import '../../css/variables';
@import '../../css/main.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  &:focus {
    outline: none;
  }
}

.sty-countdown {
  display: flex;
  margin: 0 30px;
  > p {
    align-self: center;
    font-size: $font-m;
    margin: 0;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sty-time {
    margin-left: 25px;
    div {
      width: 20px;
      height: 30px;
      background-color: $white;
      // padding: 10px;
      font-size: $font-x;
      position: relative;
      overflow: hidden;
      p {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        margin: 0;
        // transition: 0.5s;
        span {
          width: 25px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.sty-space {
  display: flex;
  span {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sec-one {
  animation-name: sceOne;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: -8s;
}

.sec-ten {
  animation-name: sceTen;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-delay: -57s;
}

.min-one {
  animation-name: minOne;
  animation-duration: 600s;
  animation-iteration-count: infinite;
  animation-delay: -130s;
}

.min-ten {
  animation-name: minTen;
  animation-duration: 3600s;
  animation-iteration-count: infinite;
  animation-delay: -1270s;
}

.hour-one {
  animation-name: hourOne;
  animation-duration: 36000s;
  animation-iteration-count: infinite;
  animation-delay: -22270s;
}

@keyframes sceOne {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-30px);
  }
  20% {
    transform: translateY(-60px);
  }
  30% {
    transform: translateY(-90px);
  }
  40% {
    transform: translateY(-120px);
  }
  50% {
    transform: translateY(-150px);
  }
  60% {
    transform: translateY(-180px);
  }
  70% {
    transform: translateY(-210px);
  }
  80% {
    transform: translateY(-240px);
  }
  90% {
    transform: translateY(-270px);
  }
  100% {
    transform: translateY(-300px);
  }
}

@keyframes sceTen {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(0px);
  }
  16.66% {
    //10秒
    transform: translateY(-30px);
  }
  31.66% {
    //11秒
    transform: translateY(-30px);
  }
  33.33% {
    //20秒
    transform: translateY(-60px);
  }
  48.33% {
    //21秒
    transform: translateY(-60px);
  }
  50% {
    //30秒
    transform: translateY(-90px);
  }
  65% {
    //31秒
    transform: translateY(-90px);
  }
  66.66% {
    //40秒
    transform: translateY(-120px);
  }
  81.66% {
    //41秒
    transform: translateY(-120px);
  }
  83.33% {
    //50秒
    transform: translateY(-150px);
  }
  98.33% {
    //51秒
    transform: translateY(-150px);
  }
  100% {
    //60秒
    transform: translateY(-180px);
  }
}

@keyframes minOne {
  0% {
    transform: translateY(0px);
  }
  9.833% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-30px);
  }
  19.833% {
    transform: translateY(-30px);
  }
  20% {
    transform: translateY(-60px);
  }
  29.833% {
    transform: translateY(-60px);
  }
  30% {
    transform: translateY(-90px);
  }
  39.833% {
    transform: translateY(-90px);
  }
  40% {
    transform: translateY(-120px);
  }
  49.833% {
    transform: translateY(-120px);
  }
  50% {
    transform: translateY(-150px);
  }
  59.833% {
    transform: translateY(-150px);
  }
  60% {
    transform: translateY(-180px);
  }
  69.833% {
    transform: translateY(-180px);
  }
  70% {
    transform: translateY(-210px);
  }
  79.833% {
    transform: translateY(-210px);
  }
  80% {
    transform: translateY(-240px);
  }
  89.833% {
    transform: translateY(-240px);
  }
  90% {
    transform: translateY(-270px);
  }
  99.833% {
    transform: translateY(-270px);
  }
  100% {
    transform: translateY(-300px);
  }
}

@keyframes minTen {
  0% {
    transform: translateY(0px);
  }
  16.6389% {
    transform: translateY(0px);
  }
  16.6667% {
    //10秒
    transform: translateY(-30px);
  }
  33.3056% {
    //11秒
    transform: translateY(-30px);
  }
  33.3333% {
    //20秒
    transform: translateY(-60px);
  }
  49.9722% {
    //21秒
    transform: translateY(-60px);
  }
  50% {
    //30秒
    transform: translateY(-90px);
  }
  66.6389% {
    //31秒
    transform: translateY(-90px);
  }
  66.6667% {
    //40秒
    transform: translateY(-120px);
  }
  83.3056% {
    //41秒
    transform: translateY(-120px);
  }
  83.3333% {
    //50秒
    transform: translateY(-150px);
  }
  99.9722% {
    //51秒
    transform: translateY(-150px);
  }
  100% {
    //60秒
    transform: translateY(-180px);
  }
}

@keyframes hourOne {
  0% {
    transform: translateY(0px);
  }
  9.99722% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-30px);
  }
  19.99722% {
    transform: translateY(-30px);
  }
  20% {
    transform: translateY(-60px);
  }
  29.99722% {
    transform: translateY(-60px);
  }
  30% {
    transform: translateY(-90px);
  }
  39.99722% {
    transform: translateY(-90px);
  }
  40% {
    transform: translateY(-120px);
  }
  49.99722% {
    transform: translateY(-120px);
  }
  50% {
    transform: translateY(-150px);
  }
  59.99722% {
    transform: translateY(-150px);
  }
  60% {
    transform: translateY(-180px);
  }
  69.99722% {
    transform: translateY(-180px);
  }
  70% {
    transform: translateY(-210px);
  }
  79.99722% {
    transform: translateY(-210px);
  }
  80% {
    transform: translateY(-240px);
  }
  89.99722% {
    transform: translateY(-240px);
  }
  90% {
    transform: translateY(-270px);
  }
  99.99722% {
    transform: translateY(-270px);
  }
  100% {
    transform: translateY(-300px);
  }
}
