@import './var.scss';
@import '../../css/variables';
@import '../../css/main.scss';
@import './hover/hover.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  &:focus {
    outline: none;
  }
}

.sty-wrap {
  // width: 1300px;
  // transform: translate(0, 0);
}

.sty-sideFilter {
  padding-right: 1.25rem;
  // position: fixed;

  .sty-title {
    display: flex;
    justify-content: space-between;
    padding-right: 1.5625rem;
    cursor: pointer;
    h3 {
      font-size: $font-m;
      padding-left: 0.9375rem;
    }
    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
  hr {
    margin: 0.625rem 0;
  }

  ul {
    list-style: none;
    padding: 0.625rem 1.25rem;
  }
  li {
    font-size: $font-m;
    letter-spacing: 4px;
    padding: 0 0 0 0.625rem;
    // padding: 0;
    display: flex;
    align-items: center;
    &:hover {
      background-color: #c7c7c7;
    }
  }
  input[type='checkbox'] {
    display: none;
    &:checked + label {
      .sty-box::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '\2714';
        text-align: right;
        font-size: 0.875rem;
        color: white;
        background: #000000;
      }
    }
  }
  label {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem 0;
  }
  .sty-box {
    position: relative;
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.9375rem;
    background-color: $grey;
  }
}

.sty-pageTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 0.625rem 1.25rem;
  p {
    font-size: $font-x;
    font-weight: $font-bold;
    margin: 0;
    span {
      margin-right: 2.5rem;
    }
  }
  .sty-orderDiv {
    width: 17%;
    position: relative;
    color: $black;
    z-index: 5;
    display: flex;
    flex-direction: column;
    button {
      color: $black;
      background-color: $background;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.325rem 1.25rem;
      border: none;
      span {
        margin-right: 20px;
      }
      svg {
        transition: 0.4s;
      }
    }
  }
  .sty-couponOrder {
    z-index: -1;
    box-shadow: 0px 0px 8px #a0a0a0;
    position: absolute;
    background-color: $background;
    list-style: none;
    width: 100%;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    margin: 0;
    // top: 40px;
    li {
      padding: 0.5rem 1.25rem;
      cursor: pointer;
      &:hover {
        background: rgb(211, 211, 211);
      }
    }
  }
}
.sty-couponOrder li:nth-child(1) {
  margin-top: 40px;
}
.sty-orderDiv.active {
  svg {
    transform: rotate(180deg);
  }
  .sty-couponOrder {
    visibility: visible;
    opacity: 1;
  }
}

.sty-coupon {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
  .item {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 8px #bbbbbb;
    position: relative;
    // transition: 0.3s;
  }
  .sty-alertText {
    position: absolute;
    text-align: right;
    font-weight: $font-bold;
    color: $orange;
    margin: 0;
    font-size: 16px;
    right: 65px;
    top: 10px;
  }

  .wrapForImg {
    width: 9.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    .sty-dashed {
      border-right: 1px dashed $grey;
      width: 1px;
      height: 85%;
      position: absolute;
      right: 0;
    }
    > img {
      width: 90%;
      height: 85%;
      object-fit: contain;
    }
    .alreadyGet {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      background-color: rgba($color: #e4e0e0, $alpha: 0.75);
      transition: 0.3s;
      // opacity: 0;
      // div {
      //   width: 100px;
      //   height: 100px;
      //   border-radius: 50%;
      //   background-color: rgba($color: #ffffff, $alpha: 0.65);
      //   position: absolute;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   top: 50%;
      //   left: 52%;
      //   transform: translate(-50%, -50%);
      // }
    }
    .sty-getImg {
      width: 100%;
      height: 100%;
      position: absolute;
      font-weight: $font-bold;
      font-size: 25px;
      display: flex;
      justify-content: center;
      // overflow: hidden;
      // transition: 0.5s;
      // opacity: 0;
      p {
        letter-spacing: 0.625rem;
        padding-left: 0.625rem;
        align-self: center;
        margin: 0;
        color: $orange;
        transform: rotate(-20deg);
      }
      > img {
        object-fit: contain;
        position: absolute;
        width: 110%;
        height: 110%;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .text {
    // background-color: red;
    width: 45%;
    height: 11.25rem;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    ul {
      margin-bottom: 0.625rem;
      margin-left: 1rem;
      h3 {
        font-size: $font-x;
      }
      .vendorName {
        font-weight: $font-bold;
      }
    }
    div {
      width: 100%;
      .state {
        height: 17px;
        border-radius: 1.875rem;
        position: relative;
        // background: linear-gradient(to right, $green 80%, $deepGray 80%);
        span {
          font-size: $font-xs;
          font-weight: $font-bold;
          position: absolute;
          top: -0.5px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      p {
        text-align: right;
        font-weight: $font-bold;
        color: $orange;
        margin: 0;
        font-size: 15px;
      }
    }
  }
  .button {
    align-self: center;
    padding: 0 0.5rem 0 0;
    transition: 0.5s;

    button {
      padding: 0.625rem;
      transition: 0.2s;
      height: 9.375rem;
      background-color: $black;
      border: none;
      color: $white;
      // color: $black;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s;

      span {
        writing-mode: vertical-lr;
        height: 8.125rem;
        letter-spacing: 0.625rem;
        padding-top: 0.625rem;
        font-weight: $font-bold;
        font-size: $font-m;
      }
    }
  }
}

//讀取圖示
.sty-coupon-loading {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  div {
    width: 60px;
    height: 60px;
  }
}
.sty-coupon-finish {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

//效果
.sty-coupon {
  .item {
    animation-name: fadeIn;
    animation-duration: 0.4s;

    cursor: pointer;
    &:hover {
      box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
      transform: scale(1.03);
    }
    &:hover button {
      @include prefixed(animation-name, push);
      @include prefixed(animation-duration, 0.4s);
    }

    // &:hover button span {
    //   @include prefixed(animation-name, push);
    //   @include prefixed(animation-duration, 0.6s);
    // }
  }
}
// 已領取
.sty-coupon.geted {
  .item {
    cursor: pointer;
    &:active button {
      @include prefixed(animation-name, push);
      @include prefixed(animation-duration, 0.4s);
    }
  }

  // &:hover button {
  //   span {
  //     animation-name: bounce;
  //     animation-duration: 0.8s;
  //   }
  // }
  .button {
    button {
      background-color: $white;
      border: 1px solid $black;
      color: $black;
    }
  }
}
//發放結束
.sty-coupon.end {
  .item {
    cursor: context-menu;
    &:hover {
      box-shadow: 0px 0px 8px #bbbbbb;
      transform: scale(1);
    }
    &:hover button {
      animation-name: none;
    }
  }

  .state {
    div {
      background: $grey;
    }
  }
  .button {
    button {
      background-color: $grey;
      color: $white;
      &:hover {
        box-shadow: none;
      }
    }
  }
}

@media (max-width: 576px) {
  // html {
  //   font-size: 13px;
  // }
  .container {
    max-width: 100%;
  }
  .wrap {
    padding: 0 0.9375rem;
  }
  .sty-pageTitle {
    padding: 0 0 1.25rem;
    p {
      span {
        display: none;
      }
    }
    .sty-orderDiv {
      width: 40%;
    }
  }
  .sty-sideFilter {
    display: none;
  }
  .sty-coupon {
    padding: 0;
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

/* Push */
@keyframes push {
  50% {
    @include prefixed(transform, scale(0.8));
  }

  100% {
    @include prefixed(transform, scale(1));
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
