@import './var.scss';
@import '../../css/variables';
@import '../../css/main.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  &:focus {
    outline: none;
  }
}
.container {
  width: 1300px;
}
.sty-bread {
  h3 {
    font-size: $font-x;
    text-align: center;
    color: $grey;
    margin: 0;
  }
  .mobileFilter {
    // display: flex;
    display: none;
    justify-content: flex-end;
    button {
      display: flex;
      color: $grey;
      font-size: $font-x;
      @include buttonTheme(borderedStyle);
      width: 140px;
      padding: 0 0.5rem;
    }
  }
  padding: 50px 0;
}

.sty-sideFilter {
  padding-right: 1.25rem;
  h3 {
    font-size: $font-x;
    padding-left: 0.9375rem;
  }
  ul {
    list-style: none;
    padding: 0.625rem 1.25rem;
  }
  li {
    font-size: $font-m;
    letter-spacing: 4px;
    padding: 0 0 0.625rem;
    display: flex;
    align-items: center;
  }
  input {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.9375rem;
  }
  label {
    margin: 0;
  }
}
.sty-pageTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 0.625rem 1.25rem;
  p {
    font-size: $font-x;
    font-weight: $font-bold;
    margin: 0;
    span {
      margin-right: 2.5rem;
    }
  }
  .sty-orderDiv {
    width: 17%;
    position: relative;
    color: $black;
    z-index: 5;
    display: flex;
    flex-direction: column;
    button {
      color: $black;
      background-color: $background;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.325rem 1.25rem;
      border: none;
      span {
        margin-right: 20px;
      }
      svg {
        transition: 0.4s;
      }
    }
  }
  .sty-couponOrder {
    z-index: -1;
    box-shadow: 0px 0px 8px #a0a0a0;
    position: absolute;
    background-color: $background;
    list-style: none;
    width: 100%;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
    margin: 0;
    // top: 40px;
    li {
      padding: 0.5rem 1.25rem;
      cursor: pointer;
      &:hover {
        background: rgb(211, 211, 211);
      }
    }
  }
}
.sty-couponOrder li:nth-child(1) {
  margin-top: 40px;
}
.sty-orderDiv.active {
  svg {
    transform: rotate(180deg);
  }
  .sty-couponOrder {
    visibility: visible;
    opacity: 1;
  }
}

.sty-coupon {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
  .item {
    // padding: 8px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 8px #bbbbbb;
  }
  .wrapForImg {
    width: 9.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 85%;
      object-fit: contain;
      border-right: 1px dashed $grey;
    }
    .alreadyGet {
      width: 100%;
      height: 100%;
      position: absolute;
      left: -110%;
      font-weight: $font-bold;
      font-size: $font-x;
      background-color: rgba($color: $grey, $alpha: 0.95);
      display: flex;
      justify-content: center;
      transition: 0.8s;
      p {
        letter-spacing: 0.625rem;
        padding-left: 0.625rem;

        align-self: center;
        margin: 0;
      }
    }
  }
  .text {
    // background-color: red;
    width: 45%;
    height: 11.25rem;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    ul {
      margin-bottom: 0.625rem;
      margin-left: 1rem;
      h3 {
        font-size: $font-x;
      }
      .vendorName {
        font-weight: $font-bold;
      }
    }
    div {
      width: 100%;
      .state {
        height: 0.3125rem;
        border-radius: 1.875rem;
        // background: linear-gradient(to right, $green 80%, $deepGray 80%);
      }
      p {
        text-align: right;
        color: $grey;
        margin: 0;
        font-size: $font-xs;
      }
    }
  }
  .button {
    align-self: center;
    padding: 0 0.5rem 0 0;
    button {
      transition: 0.8s;
      width: 2.8125rem;
      height: 9.375rem;
      background-color: $black;
      border: none;
      color: $white;
      transform: 0.8s;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        box-shadow: 2px 2px 5px #9e9e9e;
      }
      span {
        writing-mode: vertical-lr;
        height: 8.125rem;
        letter-spacing: 0.625rem;
        padding-top: 0.625rem;
        font-weight: $font-bold;
        font-size: $font-m;
      }
    }
  }
}
// 已領取
.sty-coupon.geted {
  .alreadyGet {
    left: 0;
  }
  .button {
    button {
      background-color: $white;
      border: 1px solid $black;
      color: $black;
    }
  }
}
//發放結束
.sty-coupon.end {
  .state {
    div {
      background: $grey;
    }
  }
  .button {
    button {
      background-color: $grey;
      color: $white;
      &:hover {
        box-shadow: none;
      }
    }
  }
}

@media (max-width: 576px) {
  // html {
  //   font-size: 13px;
  // }
  .container {
    max-width: 100%;
  }
  .wrap {
    padding: 0 0.9375rem;
  }
  .sty-pageTitle {
    padding: 0 0 1.25rem;
    p {
      span {
        display: none;
      }
    }
    .sty-orderDiv {
      width: 40%;
    }
  }
  .sty-sideFilter {
    display: none;
  }
  .sty-coupon {
    padding: 0;
  }
}
