@import './var.scss';
@import '../../css/variables';
@import '../../css/main.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 1300px;
}
.sty-bread {
  h3 {
    font-size: $font-x;
    text-align: center;
    color: $grey;
    margin: 0;
  }
  .mobileFilter {
    // display: flex;
    display: none;
    justify-content: flex-end;
    button {
      display: flex;
      color: $grey;
      font-size: $font-x;
      @include buttonTheme(borderedStyle);
      width: 140px;
      padding: 0 0.5rem;
    }
  }
  padding: 50px 0;
}

.sty-sideFilter {
  padding-right: 1.25rem;
  h3 {
    font-size: $font-x;
    padding-left: 0.9375rem;
  }
  ul {
    list-style: none;
    padding: 0.625rem 1.25rem;
  }
  li {
    font-size: $font-m;
    letter-spacing: 4px;
    padding: 0 0 0.625rem;
    display: flex;
    align-items: center;
  }
  input {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.9375rem;
  }
  label {
    margin: 0;
  }
}
.sty-coupon {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
  .item {
    // padding: 8px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 8px #bbbbbb;
  }
  .wrapForImg {
    width: 9.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 85%;
      object-fit: contain;
      border-right: 1px dashed $grey;
    }
    .alreadyGet {
      position: absolute;
      font-weight: $font-bold;
      letter-spacing: 0.625rem;
      padding-left: 0.625rem;
      font-size: $font-x;
      display: none;
    }
  }
  .text {
    width: 48%;
    height: 11.25rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    ul {
      margin-bottom: 0.625rem;
      margin-left: 0.625rem;
      h3 {
        font-size: $font-x;
      }
      .vendorName {
        font-weight: $font-bold;
      }
    }
    div {
      width: 100%;
      .state {
        height: 0.3125rem;
        border-radius: 1.875rem;
        // background: linear-gradient(to right, $green 80%, $deepGray 80%);
      }
      p {
        text-align: right;
        color: $grey;
        margin: 0;
        font-size: $font-xs;
      }
    }
  }
  .button {
    align-self: center;
    padding: 0 0.5rem;
    button {
      width: 2.8125rem;
      height: 9.375rem;
      background-color: $black;
      border: none;
      color: $white;
      transform: 0.8s;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        box-shadow: 2px 2px 5px #9e9e9e;
      }
      span {
        writing-mode: vertical-lr;
        height: 8.125rem;
        letter-spacing: 0.625rem;
        padding-top: 0.625rem;
        font-weight: $font-bold;
        font-size: $font-m;
      }
    }
  }
}
// 已領取
.sty-coupon.geted {
  .wrapForImg {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba($color: $grey, $alpha: 0.95);
    }
    .alreadyGet {
      display: block;
    }
  }
  .button {
    button {
      background-color: $white;
      border: 1px solid $black;
      color: $black;
    }
  }
}
//發放結束
.sty-coupon.end {
  .state {
    div {
      background: $grey;
    }
  }
  .button {
    button {
      background-color: $grey;
      color: $white;
      &:hover {
        box-shadow: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .wrap {
    padding: 0 0.9375rem;
  }
  .sty-bread {
    h3 {
      text-align: left;
    }
    .row {
      align-items: center;
    }
    .mobileFilter {
      display: flex;
    }
  }
  .sty-sideFilter {
    display: none;
  }
  .sty-coupon {
    padding: 0;
  }
}
