@import './var.scss';
@import '../../css/variables';
@import '../../css/main.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 100px;
  background-color: black;
}
.container {
  width: 1300px;
}
.sty-bread {
  padding: 50px 0;
  h3 {
    font-size: $font-x;
    text-align: center;
    color: $grey;
    margin: 0;
  }
  ul {
    list-style: none;
    display: flex;
  }
  li {
    margin-right: 1.25rem;
    position: relative;
  }
  li + li:before {
    content: '>';
    position: absolute;
    left: -1.25rem;
    transform: translateX(50%);
  }
}

.sty-sideFilter {
  padding-right: 1.25rem;
  h3 {
    font-size: $font-x;
    padding-left: 0.9375rem;
  }
  ul {
    list-style: none;
    padding: 0.625rem 1.25rem;
  }
  li {
    font-size: $font-m;
    letter-spacing: 4px;
    padding: 0 0 0.625rem;
    display: flex;
    align-items: center;
  }
  input {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.9375rem;
  }
  label {
    margin: 0;
  }
}
.sty-title {
  h3 {
    font-size: $font-x;
  }
}
.sty-memberCoupon {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
  .item {
    // padding: 8px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    box-shadow: 0px 0px 8px #bbbbbb;
  }
  .wrapForImg {
    width: 9.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 85%;
      object-fit: contain;
      border-right: 1px dashed $grey;
    }
    .alreadyGet {
      position: absolute;
      font-weight: $font-bold;
      letter-spacing: 0.625rem;
      padding-left: 0.625rem;
      font-size: $font-x;
      display: none;
    }
  }
  .text {
    width: 43%;
    padding: 0;
    display: flex;
    align-items: center;
    ul {
      margin-left: 0.625rem;
      margin-bottom: 0;
      h3 {
        font-size: $font-x;
      }
      .vendorName {
        font-weight: $font-bold;
      }
    }
    .state {
      div {
        height: 5px;
        border-radius: 1.875rem;
        // background: linear-gradient(to right, $green 80%, $deepGray 80%);
      }
      p {
        text-align: right;
        color: $grey;
        margin: 0;
        font-size: $font-xs;
      }
    }
  }
  .button {
    align-self: center;
    padding: 8px 0.625rem;
    button {
      width: 2.8125rem;
      height: 9.375rem;
      background-color: $black;
      border: none;
      color: $white;
      transform: 0.8s;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        box-shadow: 2px 2px 5px #9e9e9e;
      }
      span {
        writing-mode: vertical-lr;
        height: 8.125rem;
        letter-spacing: 0.625rem;
        padding-top: 0.625rem;
        font-weight: $font-bold;
        font-size: $font-m;
      }
    }
  }
}
// 已使用
// .sty-memberCoupon.used {
//   .wrapForImg {
//     position: relative;
//     &:before {
//       content: '';
//       position: absolute;
//       top: 0;
//       left: 0;
//       bottom: 0;
//       right: 0;
//       background-color: rgba($color: $grey, $alpha: 0.95);
//     }
//     .alreadyGet {
//       display: block;
//     }
//   }
// }
//效期已過
.sty-memberCoupon.exp {
  .wrapForImg {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba($color: $grey, $alpha: 0.95);
    }
    .alreadyGet {
      display: block;
    }
  }
  .button {
    button {
      background-color: $grey;
      color: $white;
      &:hover {
        box-shadow: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .wrap {
    padding: 0 0.9375rem;
  }
  .sty-bread {
    h3 {
      text-align: left;
    }
    .row {
      align-items: center;
    }
  }
  .sty-title {
    display: none;
  }
  .sty-sideFilter {
    display: none;
  }
  .sty-memberCoupon {
    padding: 0;
  }
}
