@import './var.scss';
@import '../../css/variables';
@import '../../css/main.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 100px;
  background-color: black;
}
.container {
  width: 1300px;
}

.sty-memberTitle {
  h3 {
    font-size: $font-x;
  }
  .sty-alertNum {
    position: absolute;
    background-color: $orange;
    color: $white;
    font-size: $font-xs;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 8px;
    top: 0;
  }
  button {
    position: relative;
    background-color: transparent;
    color: $grey;
    border: 1px solid transparent;
    transition: 0.2s;
    font-weight: $font-bold;
    &:hover {
      color: $black;
      // font-weight: $font-bold;
      // border: 1px solid $black;
    }
    .sty-alertNum {
      font-weight: normal;
    }
  }
  button + button {
    margin-left: 20px;
  }
  button.active {
    font-weight: $font-bold;
    background-color: $blue;
    color: $white;
    border: 1px solid $blue;
    .sty-alertNum {
      display: none;
    }
  }
}
.sty-memberCoupon {
  padding: 0 0.625rem;
  margin-bottom: 1.875rem;
  .item {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 8px #bbbbbb;
  }
  .wrapForImg {
    width: 9.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .sty-dashed {
      border-right: 1px dashed $grey;
      width: 1px;
      height: 85%;
      position: absolute;
      right: 0;
    }
    > img {
      width: 90%;
      height: 85%;
      object-fit: contain;
    }
    .alreadyGet {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      background-color: rgba($color: #e4e0e0, $alpha: 0.75);
      opacity: 0;
    }
    .sty-getImg {
      width: 100%;
      height: 100%;
      position: absolute;
      font-weight: $font-bold;
      font-size: 25px;
      display: flex;
      justify-content: center;
      // overflow: hidden;
      // transition: 0.5s;
      opacity: 0;
      p {
        letter-spacing: 0.625rem;
        padding-left: 0.625rem;
        align-self: center;
        margin: 0;
        color: $orange;
        transform: rotate(-20deg);
      }
      > img {
        object-fit: contain;
        position: absolute;
        width: 110%;
        height: 110%;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .text {
    width: 43%;
    padding: 0;
    display: flex;
    align-items: center;
    ul {
      margin-left: 0.625rem;
      margin-bottom: 0;
      h3 {
        font-size: $font-x;
      }
      .vendorName {
        font-weight: $font-bold;
      }
    }
    .state {
      div {
        height: 5px;
        border-radius: 1.875rem;
        // background: linear-gradient(to right, $green 80%, $deepGray 80%);
      }
      p {
        text-align: right;
        color: $grey;
        margin: 0;
        font-size: $font-xs;
      }
    }
  }
  .button {
    align-self: center;
    padding: 8px 0.625rem;
    button {
      padding: 0.625rem;
      height: 9.375rem;
      background-color: $black;
      border: none;
      color: $white;
      transform: 0.8s;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        writing-mode: vertical-lr;
        height: 8.125rem;
        letter-spacing: 0.625rem;
        padding-top: 0.625rem;
        font-weight: $font-bold;
        font-size: $font-m;
      }
    }
  }
}

.sty-memberCoupon {
  .item {
    cursor: pointer;
    &:hover button {
      span {
        animation-name: bounce;
        animation-duration: 0.8s;
      }
    }
  }
}

//已使用
.sty-memberCoupon.used {
  .item {
    cursor: context-menu;
    &:hover button {
      span {
        animation-name: none;
      }
    }
  }
  .alreadyGet {
    opacity: 1;
  }
  .sty-getImg {
    opacity: 1;
  }
  button {
    pointer-events: none;
    background-color: transparent;
    color: $grey;
  }
}
//即將過期
.sty-memberCoupon.dueEnd {
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .wrap {
    padding: 0 0.9375rem;
  }
  .sty-bread {
    h3 {
      text-align: left;
    }
    .row {
      align-items: center;
    }
  }
  .sty-title {
    display: none;
  }
  .sty-sideFilter {
    display: none;
  }
  .sty-memberCoupon {
    padding: 0;
  }
}
