@import '../../css/variables';
@import '../../css/main.scss';
// .test {
//   input[type='checkbox'] {
//     display: none;
//     &:checked + label::before {
//       // display: block;
//       content: '\2714';
//       text-align: center;
//       font-size: 14px;
//       color: white;
//       background: #050505;
//     }
//   }
// }
.chin-brand-checkbox {
  position: relative;
  width: 289px;
  height: 45px;
  padding: 8px 0 15px 50px;
}
.chin-brand-checkbox:hover {
  background: rgb(211, 211, 211);
}
.chin-brand-checkbox2 {
  position: relative;
  width: 289px;
  height: 45px;
  padding: 8px 0 15px 50px;
}
.chin-brand-checkbox2:hover {
  background: rgb(211, 211, 211);
}
.chin-brand-checkbox3 {
  position: relative;
  width: 289px;
  height: 45px;
  padding: 8px 0 15px 50px;
}
.chin-brand-checkbox3:hover {
  background: rgb(211, 211, 211);
}
.chin-brand-checkbox4 {
  position: relative;
  width: 289px;
  height: 45px;
  padding: 8px 0 15px 50px;
}
.chin-brand-checkbox4:hover {
  background: rgb(211, 211, 211);
}
.chin-brand-checkbox5 {
  position: relative;
  width: 289px;
  height: 45px;
  padding: 8px 0 15px 50px;
}
.chin-brand-checkbox5:hover {
  background: rgb(211, 211, 211);
}
.chin-brand-checkbox6 {
  position: relative;
  width: 289px;
  height: 45px;
  padding: 8px 0 15px 50px;
}
.chin-brand-checkbox6:hover {
  background: rgb(211, 211, 211);
}
.chin-brand-checkbox7 {
  position: relative;
  width: 289px;
  height: 45px;
  padding: 8px 0 15px 50px;
}
.chin-brand-checkbox7:hover {
  background: rgb(211, 211, 211);
}
.chin-brand-checkbox8 {
  position: relative;
  width: 289px;
  height: 45px;
  padding: 8px 0 15px 50px;
}
.chin-brand-checkbox8:hover {
  background: rgb(211, 211, 211);
}
#color-input + label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 30px;
  background: #a0a0a0;
}
#color-input:checked + label::before {
  display: block;
  content: '\2714';
  text-align: center;
  font-size: 14px;
  color: white;
  background: #050505;
}
#color-input[type='checkbox'] {
  visibility: hidden;
}
#color-input2 + label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 30px;
  background: #a0a0a0;
}
#color-input2:checked + label::before {
  display: block;
  content: '\2714';
  text-align: center;
  font-size: 14px;
  color: white;
  background: #050505;
}
#color-input2[type='checkbox'] {
  visibility: hidden;
}
#color-input3 + label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 30px;
  background: #a0a0a0;
}
#color-input3:checked + label::before {
  display: block;
  content: '\2714';
  text-align: center;
  font-size: 14px;
  color: white;
  background: #050505;
}
#color-input3[type='checkbox'] {
  visibility: hidden;
}
#color-input4 + label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 30px;
  background: #a0a0a0;
}
#color-input4:checked + label::before {
  display: block;
  content: '\2714';
  text-align: center;
  font-size: 14px;
  color: white;
  background: #050505;
}
#color-input4[type='checkbox'] {
  visibility: hidden;
}
#color-input5 + label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 30px;
  background: #a0a0a0;
}
#color-input5:checked + label::before {
  display: block;
  content: '\2714';
  text-align: center;
  font-size: 14px;
  color: white;
  background: #050505;
}
#color-input5[type='checkbox'] {
  visibility: hidden;
}
#color-input6 + label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 30px;
  background: #a0a0a0;
}
#color-input6:checked + label::before {
  display: block;
  content: '\2714';
  text-align: center;
  font-size: 14px;
  color: white;
  background: #050505;
}
#color-input6[type='checkbox'] {
  visibility: hidden;
}
#color-input7 + label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 30px;
  background: #a0a0a0;
}
#color-input7:checked + label::before {
  display: block;
  content: '\2714';
  text-align: center;
  font-size: 14px;
  color: white;
  background: #050505;
}
#color-input7[type='checkbox'] {
  visibility: hidden;
}
#color-input8 + label {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 30px;
  background: #a0a0a0;
}
#color-input8:checked + label::before {
  display: block;
  content: '\2714';
  text-align: center;
  font-size: 14px;
  color: white;
  background: #050505;
}
#color-input8[type='checkbox'] {
  visibility: hidden;
}
