.chin-productdetails {
  display: flex;
}
.chin-bigitem {
  width: 600px;
  height: 600px;
  img {
    width: 600px;
    height: 600px;
    margin: 0;
  }
}
.chin-cir {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ffffff;
}
.chin-cir:hover {
  border: 1px solid #a0a0a0;
}
.chin-cir2 {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: -15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ffffff;
}
.chin-cir2:hover {
  border: 1px solid #a0a0a0;
}
.chin-arr {
  margin: 4px 0 0 4px;
  width: 25px;
  height: 25px;
}
.chin-arr2 {
  margin: 4px 0 0 5px;
  width: 25px;
  height: 25px;
}
.chin-hicir {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ffffff;
}
.chin-hicir:hover {
  border: 1px solid #a0a0a0;
}
.chin-hicir2 {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: -5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ffffff;
}
.chin-hicir2:hover {
  border: 1px solid #a0a0a0;
}
.chin-hiarr {
  margin: 4px 0 0 4px;
  width: 25px;
  height: 25px;
}
.chin-hiarr2 {
  margin: 4px 0 0 5px;
  width: 25px;
  height: 25px;
}
.chin-smallitem {
  position: relative;
  width: 600px;
}
.chin-smallitem-img {
  width: 130px;
  height: 130px;
  margin: 35px 10px 3px 10px;
}
.chin-productname {
  margin-left: 100px;
}
.chin-productname span {
  font-size: 18px;
  margin-left: 20px;
}
.chin-productname p {
  font-size: 15px;
  margin-top: 50px;
}
.chin-productname h6 {
  font-size: 16px;
  color: #a0a0a0;
}
.chin-productname h5 {
  font-size: 28px;
}
.chin-productname h4 {
  color: #0ac3ae;
  font-size: 100px;
}
.chin-starimg img {
  width: 20px;
  height: 20px;
  margin: 25px 4px 30px 4px;
}

.chin-myfavourite-shopping {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chin-myfavourite {
  display: flex;
  justify-content: space-between;
}
.chin-myfavourite img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}
.chin-myfavourite span {
  margin: 0 45px;
  font-size: 26px;
}
.chin-shopping {
  display: flex;
}
.chin-shopping button:nth-child(1) {
  width: 150px;
  height: 40px;
  background: #050505;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-right: 15px;
}
.chin-shopping button:nth-child(2) {
  width: 150px;
  height: 40px;
  background: none;
  border: 1px solid #050505;
  font-size: 16px;
  font-weight: bold;
  color: #050505;
}
.chin-favourite {
  margin-top: 30px;
  text-align: right;
}
.chin-favourite img {
  width: 20px;
  height: 20px;
}
.chin-favourite span {
  font-size: 16px;
}
.chin-productdescription-technicalspecifications {
  height: 900px;
  background: #ffffff;
  margin-top: 130px;
  padding-top: 70px;
}
.chin-productdescription p {
  width: 740px;
  text-align: left;
  margin: 80px auto;
}
.chin-productdescription h3 {
  text-align: center;
}
.chin-technicalspecifications {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
}
.chin-technicalspecifications ul {
  list-style: none;
}
.chin-size-digital {
  width: 450px;
  display: flex;
  justify-content: space-between;
}
.chin-size li {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}
.chin-digital li {
  font-size: 15px;
  margin-bottom: 35px;
}
.chin-memory-narrative-p {
  padding-left: 90px;
  width: 450px;
}
.chin-memory-narrative-p p {
  font-size: 15px;
}
.chin-memory-narrative {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chin-memory li {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}
.chin-narrative li {
  margin-bottom: 30px;
  font-size: 15px;
}
.chin-usercomment-fractionalstars {
  margin-top: 80px;
}
.chin-usercomment-fractionalstars h3 {
  text-align: center;
}
.chin-usercomment {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.chin-fractionalstars {
  display: flex;
}
.chin-fractional {
  margin-right: 65px;
}
.chin-fractional img {
  width: 20px;
  height: 20px;
}
.chin-fractional p {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.chin-fractional p:nth-child(7) {
  margin-top: 12px;
  font-size: 13px;
  text-align: center;
}
.chin-commentstars {
  margin-top: 5px;
}
.chin-commentstars img {
  margin: 2px;
  width: 20px;
  height: 20px;
}
.chin-sort-discuss {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chin-discuss button {
  width: 215px;
  height: 50px;
  background: none;
  border: 1px solid #050505;
  font-size: 16px;
  font-weight: bold;
  color: #050505;
}
.chin-sortspan {
  margin: 0 auto;
  width: 885px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #050505;
  font-size: 16px;
  font-weight: bold;
}
.chin-sortspan button {
  background: none;
  border: none;
  margin: 25px;
  color: #050505;
}
.chin-sortspan img {
  padding: 0 0 5px 25px;
}
.chin-avatar-name-p {
  width: 885px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.chin-avatar-name-p p {
  padding: 30px 10px 20px 20px;
}
.chin-avatar-name-p a {
  text-align: right;
}
.chin-avatar-name {
  margin-top: 65px;
  display: flex;
}
.chin-avatar-name img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.chin-avatar-name h6 {
  margin: 10px 0 5px 0;
  font-size: 15px;
  font-weight: bold;
  color: #050505;
}
.chin-avatar-name span {
  font-size: 14px;
  color: #a0a0a0;
}
.chin-avatar {
  img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 25px;
  }
}
.chin-reply {
  display: flex;
  justify-content: flex-end;
}
.chin-reply a {
  font-size: 16px;
  color: #a0a0a0;
  margin-left: 30px;
}
.chin-reply a:hover {
  text-decoration: none;
  color: #a0a0a0;
}
.chin-historicalrecord {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}
.chin-historicalrecord a {
  margin-left: 60px;
  color: #050505;
  font-size: 18px;
  font-weight: bold;
}
.chin-historicalrecord a:nth-child(1) {
  padding-bottom: 5px;
  border-bottom: 3px solid #0ac3ae;
}
.chin-historicalrecord a:nth-child(1):hover {
  text-decoration: none;
  color: #050505;
}
.chin-historicalrecord a:nth-child(2) {
  color: #a0a0a0;
}
.chin-historicalrecord a:nth-child(2):hover {
  text-decoration: none;
}
.chin-relatedproducts {
  position: relative;
  margin: 60px 0 160px 0;
}
.chin-commodity2 {
  margin-left: 3px;
}
.chin-commodity-item2 {
  padding-top: 1px;
  margin: 15px;
  width: 280px;
  height: 400px;
  background: #fff;
  p {
    margin: 2px 0 12px 0;
    font-size: 17px;
    font-weight: bold;
    color: #050505;
    text-align: center;
  }
}
.chin-commodity-item2 h6 {
  text-align: center;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  color: #a0a0a0;
}
.chin-commodity-item2 h5 {
  font-size: 17px;
  margin: 0;
  color: #0dd2c5;
  text-align: center;
}
.chin-commodity-item2:hover {
  box-shadow: 0px 0px 9px #a0a0a0;
}
.chin-star-heart-bag2 {
  list-style: none;
  display: flex;
  margin: 25px 0 0 25px;
  padding: 0;
  align-items: flex-start;
  position: relative;
}
.chin-star-heart-bag2 :nth-child(1) > .chin-star2 {
  position: absolute;
  transition: 0.3s;
  opacity: 0;
  width: 15px;
  height: 15px;
}
.chin-commodity-item2:hover .chin-star-heart-bag2 :nth-child(1) > .chin-star2 {
  opacity: 1;
}
.chin-star-heart-bag2 :nth-child(2) > .chin-star2 {
  position: absolute;
  transition: 0.3s;
  opacity: 0;
  width: 15px;
  height: 15px;
  left: 0;
}
.chin-commodity-item2:hover .chin-star-heart-bag2 :nth-child(2) > .chin-star2 {
  opacity: 1;
  left: 20px;
}
.chin-star-heart-bag2 :nth-child(3) > .chin-star2 {
  position: absolute;
  transition: 0.3s;
  opacity: 0;
  width: 15px;
  height: 15px;
  left: 0;
}
.chin-commodity-item2:hover .chin-star-heart-bag2 :nth-child(3) > .chin-star2 {
  opacity: 1;
  left: 40px;
}
.chin-star-heart-bag2 :nth-child(4) > .chin-star2 {
  position: absolute;
  transition: 0.3s;
  opacity: 0;
  width: 15px;
  height: 15px;
  left: 0;
}
.chin-commodity-item2:hover .chin-star-heart-bag2 :nth-child(4) > .chin-star2 {
  opacity: 1;
  left: 60px;
}
.chin-star-heart-bag2 :nth-child(5) > .chin-star2 {
  position: absolute;
  transition: 0.3s;
  opacity: 0;
  width: 15px;
  height: 15px;
  left: 0;
}
.chin-commodity-item2:hover .chin-star-heart-bag2 :nth-child(5) > .chin-star2 {
  opacity: 1;
  left: 80px;
}
.chin-bag2 {
  position: absolute;
  top: 0;
  right: 8%;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: 0.3s;
}
.chin-commodity-item2:hover .chin-bag2 {
  opacity: 1;
  top: 30px;
}
.chin-heart2 {
  position: absolute;
  top: 0;
  right: 8%;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: 0.3s;
}
.chin-commodity-item2:hover .chin-heart2 {
  opacity: 1;
}
.chin-watch2 {
  margin: 40px 35px 15px 35px;
  width: 210px;
  height: 210px;
}
.chin-heart-bag2 {
  display: flex;
  flex-direction: column;
}
/*--------------RWD-----------------------------*/
.chin-rwd-circle-circle {
  display: none;
}
.chin-rwd-avatar-circle-circle {
  display: none;
}
@media (max-width: 576px) {
  .chin-productdetails {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chin-bigitem img {
    width: 345px;
    height: 369px;
  }
  .chin-rwd-circle-circle {
    display: flex;
    justify-content: center;
  }
  .chin-rwd-circle:nth-child(1) {
    width: 8px;
    height: 8px;
    border: 1px solid #050505;
    border-radius: 50%;
    background: #050505;
    margin: 5px;
  }
  .chin-rwd-circle {
    width: 8px;
    height: 8px;
    border: 1px solid #767676;
    border-radius: 50%;
    background: #fff;
    margin: 5px;
  }
  .chin-productname {
    margin: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chin-myfavourite-shopping {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .chin-myfavourite {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chin-productdescription-technicalspecifications {
    background: none;
    margin-top: 20px;
    padding-top: 10px;
  }
  .chin-productdescription p {
    width: 100%;
    margin: 20px 0 20px 0;
  }
  .chin-technicalspecifications {
    display: flex;
    flex-direction: column;
  }
  .chin-size-digital {
    width: 100%;
  }
  .chin-memory-narrative-p {
    padding: 0;
    width: 100%;
  }
  .chin-memory-narrative {
    justify-content: flex-start;
  }
  .chin-narrative {
    margin-left: 50px;
  }
  .chin-usercomment-fractionalstars {
    margin-top: 20px;
  }
  .chin-discuss {
    display: none;
  }
  .chin-commentstars {
    display: none;
  }
  .chin-usercomment {
    justify-content: space-between;
    margin: 0;
  }
  .chin-fractional {
    display: flex;
    align-items: center;
  }
  .chin-fractional p {
    margin: 0 15px;
  }
  .chin-sortspan {
    display: none;
  }
  .chin-avatar-name-p {
    width: 100%;
  }
  .chin-avatar-name {
    align-items: center;
  }
  .chin-rwd-avatar-circle-circle {
    display: flex;
    justify-content: center;
    margin-left: 75px;
  }
  .chin-rwd-avatar-circle {
    width: 6px;
    height: 6px;
    border: 1px solid #050505;
    border-radius: 50%;
    margin: 2px;
  }
  .chin-historicalrecord a {
    margin: 0;
  }
  .chin-historicalrecord {
    justify-content: space-evenly;
  }

  .chin-relatedproducts button:nth-child(1) {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -4%;
    top: 60%;
  }
  .chin-relatedproducts button {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -4%;
    top: 60%;
  }
  .chin-relatedproducts button img {
    width: 30px;
    height: 30px;
  }
  .chin-watch2 {
    margin: 0;
    width: 115px;
    height: 150px;
  }
  .chin-commodity-item2 {
    background: none;
    margin: 0;
  }
  .chin-commodity-item2 h6 {
    font-size: 12px;
  }
  .chin-commodity-item2 h5 {
    font-size: 15px;
  }
  .chin-commodity-item2 p {
    font-size: 12px;
  }
  .chin-commodity-item2:hover {
    box-shadow: unset !important;
  }
  .chin-star-heart-bag2 :nth-child(1) > .chin-star2 {
    position: absolute;
    transition: 0.3s;
    opacity: 0;
    width: 15px;
    height: 15px;
  }
  .chin-star2 {
    display: none;
  }
  .chin-bag2 {
    display: none;
  }
  .chin-heart2 {
    position: absolute;
    top: 0;
    right: 8%;
    width: 20px;
    height: 20px;
    opacity: 1;
  }
}
