@import "../../css/variables.scss";
@import "../../css/main.scss";

.membersidebar {
  padding-right: 30px;
  min-height: 650px;
  margin-bottom: $spacing * 2;

  .list-group {
    .list-group-item {
      background: transparent;
      text-align: left;

      &:nth-child(1) {
        padding-top: 0;

        .editPic {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 150px;

          a {
            margin-top: -$spacing;
            background-color: $grey;

            &:hover {
              opacity: 1;
              color: rgba($black, 0.5);
            }
          }
        }
      }
      &:nth-child(2) {
        margin-top: $spacing;
      }

      .userPic {
        width: 150px;
      }

      a {
        color: $black;
        opacity: 1;
        transition: 0.2s;
        text-align: left;

        &:hover {
          opacity: 0.5;
        }
      }
    }
    .bk-member-nav-story-group {
      .bk-member-nav-button {
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          opacity: 0.5;
        }
        &.active {
          svg {
            transform: rotate(180deg);
          }
        }

        svg {
          margin-left: $spacing * 2;
          transition: 0.3s;
        }
      }

      .bk-member-nav-stories-list {
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
        cursor: pointer;

        &.active {
          max-height: 110px;
        }

        a.nav-link {
          color: rgba($black, 0.5);
        }
      }
    }
  }
}

//-----

.membersidebar {
  .list-group-item {
    text-align: center;
  }
  .list-group-item {
    border: none;
  }
  .image {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.irene-openside-btn {
  display: none;
}

.Irene_submit {
  // width: 300px;
  @include buttonTheme(blackStyle);
}
.Irene_submit:hover {
  // width: 300px;
  @include buttonTheme(blueStyle);
}

.memberedit {
  margin-bottom: 50px;
  label {
    font-size: $font-m;
    text-align: center;
    // color: red;
  }
}
.irene-RWD-membersidebar {
  display: none;
}
// for RWD hamburger sidemenu
@media (max-width: $bp-sm) {
  .membersidebar {
    display: none;
  }
  .irene-RWD-membersidebar {
    text-align: center;
    margin-top: -10px;
    display: block;
    input {
      text-align: center;
    }
  }
  .irene-side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 100px;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    a {
      text-decoration: none;
      font-size: $font-m;
      color: #818181;
      display: block;
      transition: 0.3s;
      // padding-bottom: 30px;
      :hover {
        color: #f1f1f1;
      }
    }

    img {
      // display: block;
      border-radius: 50%;
      object-fit: cover;
      width: 150px;
      height: 150px;
    }
  }

  .irene-openside-btn {
    position: absolute;
    display: block;
    top: 90px;
    right: 0px;
    font-size: $font-xs;
    // margin-left: 50px;
    z-index: 1;
    text-align: right;
  }
  .irene-closeside {
    display: flex;
  }
  .irene-closeside-btn {
    position: absolute;
    top: 0;
    left: -10px;
    font-size: $font-m;
  }
}
