@import '../../css/main.scss';
@import '../../css/variables.scss';

.querysubmit {
  text-align: right;
}

.irene_memberorder_list table {
  margin: 50px auto;
  text-align: center;
}

.irene_memberorder_listbutton {
  @include buttonTheme(blackStyle);
}
