@import '../../css/variables';
@import '../../css/main.scss';

* {
  padding: 0;
  margin: 0;
}
.memberloginindex {
  height: 380px;
  margin-bottom: 80px;
}

// .irene-memberlogin-container {
//   height: 300px;
// }

.memberlogin {
  .card {
    padding: 20px 30px 0px;
    border: none;
    margin: 10px 10px;
    // height: 250px;
  }
  input {
    border-top: 0px 0px 0px 1px;
  }
  label {
    font-size: $font-m;
    text-align: center;
  }
}

.MemberLoginh3 {
  font-size: $font-xl;
  border-bottom: 3px solid $blue;
  text-align: center;
}

.irene-login-button {
  @include buttonTheme(blackStyle);
}

.irene-register-button {
  @include buttonTheme(blackStyle);
}

.memberlogin .irene-checkbox input {
  display: inline-block;
}
.irene-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    margin-left: 10px;
    font-size: 16px;
  }
  // &-123{

  // }
}
