@import '../../css/variables.scss';

/* for CartShopTotal */
.Mao-total-box {
  transition: 0s;
  opacity: 1;
  height: 420px;
  width: 300px;
  padding: 5px 10px;
  margin: 0px 10px;
  transition: 0.3s;
}
.Mao-total-box-title {
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
}
.Mao-total-box-title-info {
  font-size: 15px;
}
.Mao-total-box-title-info div {
  margin-bottom: 16px;
}
.Mao-total-box-title-coupon div {
  font-size: 15px;
  margin-bottom: 16px;
}
.Mao-total-box-title-coupon input {
  margin-left: 10px;
  width: 180px;
  border: none;
  border-bottom: 1px solid #eee;
  outline: none;
}
.Mao-total-box-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 45px;
  padding: 15px;
  border: 1px solid $grey;
  margin: 15px 0px;
}

.Mao-total-box-btn-border-b {
  margin: 0;
  color: $black;
  border: none;
  border-bottom: 1px solid $grey;
  transition: 0.3s;
}
.Mao-total-box-btn-border-b:hover {
  color: $blue;
  border-bottom: 1px solid $blue;
}
.Mao-total-box-btn:hover {
  transition: 0.3s;
  text-decoration: none;
}

/*ShopCartLike*/
.Mao-CartNoItem {
  max-height: 500px;
  width: 1300px;
  position: relative;
  padding: 0;
  overflow: hidden;
}
.Mao-CartNoItem h3 {
  color: #666;
  text-shadow: 5px 5px 5px #999;
  position: absolute;
  top: 30%;
  left: 13%;
}
.Mao-Total-Box-none {
  background: none;
  height: 400px;
  width: 300px;
}
.Mao-Like-img {
  padding: 0;
  margin: 0;
  width: 1200px;
  height: 800px;
  box-shadow: 6px 6px 10px #aaa;
}

/* fixed */
.Mao-total-box-fixed {
  opacity: 0;
  transition: 0.3s;
  width: 100%;
  height: 0;
  box-shadow: 10px 10px 10px #aaa;
  padding: 6px 0px;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

.Mao-total-box-title-fixed {
  border-bottom: 1px solid #ddd;
  padding: 5px 0px;
  margin-right: 15px;
}
.Mao-total-box-fixed .container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Mao-total-box-fixed .container div {
  width: 850px;
}
.Mao-total-box-title-info-fixed {
  display: flex;
  flex-direction: column;
}

.Mao-total-box-totalNum-fixed {
  position: absolute;
  top: 35%;
  right: 47%;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 200px;
  border-bottom: 1px solid #ddd;
}
.Mao-total-box-title-coupon-fixed {
  margin: 5px 0px;
}
.Mao-total-box-total-fixed-goshop:hover {
  color: $black;
}
.Mao-total-box-title-coupon-fixed-coupon {
  position: absolute;
  top: 103%;
  left: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;
  width: 20%;
  height: 45px;
  border-bottom: 1px solid $grey;
  color: $black;
}
.Mao-total-box-title-coupon-fixed-coupon:hover {
  color: $blue;
  transition: 0.3s;
  border-bottom: 1px solid $blue;
}
.Mao-total-box-total-fixed {
  display: flex;
  align-items: center;
  font-size: '18px';
  text-align: right;
  margin: 5px 0px;
  padding: 8px 0px;
  width: 100%;
  position: absolute;
  top: 15%;
  left: 28%;
}
.Mao-total-box-total-fixed-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Mao-total-box-btn-fixed {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $black;
  width: 80%;
  height: 45px;
  border: 1px solid $black;
  color: $white;
}
.Mao-total-box-btn-fixed-goshop {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  width: 80%;
  height: 45px;
  border: 1px solid $grey;
  color: $black;
  margin: 5px 0px;
}
.Mao-total-box-btn-fixed:hover {
  color: #eee;
}
.Mao-couponBox {
  overflow: hidden;
  opacity: 0;
  width: 300px;
  height: 300px;
  box-shadow: 10px 10px 10px #000;
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  z-index: -10;
  border: 1px solid $grey;
}
.Mao-coupon-exit {
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: $white;
  background: $grey;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.Mao-ShopCartIcon-box {
  position: relative;
}
.Mao-ShopCartIcon-num {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  background: $blue;
  color: $white;
  position: absolute;
  top: -40%;
  left: -0.9%;
}
.Mao-ShopCarticon-icon {
  width: 20px;
  height: 20px;
}
