/* for shopCartList  */
.Mao-shopcart-list {
  position: relative;
}
.Mao-shopcart-list-items-box {
  max-width: 975px;
  margin-left: 1px;
}
.Mao-shopcart-check-btn {
  border: 1px solid #000;
  max-width: 315px;
  margin: 30px auto;
  display: block;
  text-align: center;
  padding: 10px;
  background: #000;
}
.Mao-shopcart-check-btn a {
  color: #fff;
}
.Mao-shopcart-check-btn a:hover {
  color: #fff;
  text-decoration: none;
}
.Mao-shopcart-check-item {
  width: 900px;
  margin: 0px 15px;
  border-bottom: 2px solid #efefef;
  padding: 20px;
}

.Mao-shopcart-check-item img {
  margin: 0px 20px;
}
.Mao-shopcart-check-item-info {
  width: 370px;
  margin: 0px 50px;
  font-size: 18px;
}
.Mao-shopcart-check-item-count {
  height: 30px;
  overflow: hidden;
  border: 1px solid #ddd;
  width: 130px;
}
.Mao-shopcart-check-item-count input {
  outline: none;
  border: none;
  width: 30px;
  text-align: center;
  padding: 0px 10px;
}
.Mao-shopcart-check-item-action {
  margin: 0 auto;
}
.Mao-shopcart-check-item-action div {
  padding: 5px 15px;
  margin: 5px;
}
.Mao-shopcart-check-item-action img {
  margin-right: 10px;
}
/* for CartShopTotal */
.Mao-total-box {
  height: 435px;
  width: 300px;
  padding: 10px;
  top: 100px;
  right: 317px;
}
.Mao-total-box-title {
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
}
.Mao-total-box-title-info {
  font-size: 15px;
}
.Mao-total-box-title-info div {
  margin-bottom: 16px;
}
.Mao-total-box-title-info b {
  font-weight: bold;
}
.Mao-total-box-title-coupon div {
  margin-bottom: 16px;
}
.Mao-total-box-title-coupon input {
  width: 280px;
  border: none;
  border-bottom: 1px solid #eee;
  outline: none;
}
.Mao-total-box-btn {
  width: 270px;
  height: 45px;
  border: 1px solid #000;
  margin: 15px 0px;
}
.Mao-total-box-btn:hover {
  text-decoration: none;
}

/* fixed */
.Mao-total-box-fixed {
  width: 100%;
  height: 170px;
  padding: 6px 0px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}

.Mao-total-box-title-fixed {
  border-bottom: 1px solid #ddd;
  padding: 5px 0px;
  margin-right: 15px;
}
.Mao-total-box-fixed .container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Mao-total-box-fixed .container div {
  width: 100%;
}
.Mao-total-box-title-info-fixed {
  display: flex;
  flex-direction: column;
}
.Mao-total-box-title-coupon-fixed {
  margin: 5px 0px;
}
.Mao-total-box-title-coupon-fixed-input {
  border: none;
  border-bottom: 1px solid #ddd;
}
.Mao-total-box-total-fixed {
  font-size: '18px';
  text-align: right;
  margin: 5px 0px;
  padding: 8px 0px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 50%;
}
.Mao-total-box-total-fixed-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Mao-total-box-btn-fixed {
  width: 30%;
  height: 45px;
  border: 1px solid #000;
  margin: 5px 0px;
}
