@import '../../css/variables.scss';
/* for shopCartList  */
@keyframes "mymove" {
  0% {
    top: -10px;
    left: 0%;
    background: transparent;
  }
  50% {
    top: -10px;
    left: 100%;
    background: #888;
  }
  100% {
    top: -10px;
    left: 150%;
    background: transparent;
  }
}
.Mao-shopcart-list {
  position: relative;
}
.Mao-shopcart-list-items-box {
  max-width: 975px;
  margin-left: 1px;
}
.Mao-shopcart-check-btn {
  border: 1px solid #000;
  max-width: 315px;
  margin: 30px auto;
  display: block;
  text-align: center;
  padding: 10px;
  background: #000;
  a {
    color: #fff;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
.Mao-CartNoItem-shoplist {
  height: 500px;
  width: 100%;
  position: relative;
  padding: 35px;
  background-size: cover;
  text-align: center;
  h3 {
    color: #666;
    border-bottom: 1px solid #ddd;
    padding: 20px 10px;
    z-index: 10;
  }
}

.Mao-shopcart-check-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 370px;
  font-size: 18px;
}
.Mao-shopcart-check-item-info>div {
  display: flex;
  justify-content: space-between;
}
.Mao-Like-img-shoplist {
  width: 250px;
  height: 250px;
  opacity: 0.5;
  margin: 15px;
}
.Mao-shopcart-check-item-ul {
  list-style-type: none;
  width: 990px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $white;
  height: 100%;
  margin:0
}
.Mao-shopcart-check-item {
  display: flex;
  transition: 0.5s;
  width: 90%;
  margin: 0px;
  border-bottom: 2px solid #efefef;
  padding: 20px;
  img {
    margin: 0px 20px;
  }
}
.Mao-shopcart-check-item-count {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  overflow: hidden;
  border: 1px solid #ddd;
  width: 180px;
  input {
    outline: none;
    border: none;
    width: 80px;
    text-align: center;
    padding: 0px 10px;
  }
}
.Mao-btn-amount {
  padding: 10px;
  width: 30%;
  color: $white;
}
.Mao-btn-amount-input {
  text-align: center;
  width: 300px;
  padding: 0;
}
.Mao-btn-amount-whiteLike {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.Mao-btn-amount-whiteDel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.Mao-btn-amount-white-my {
  margin: 8px 0px;
  background: $white;
  color: $black;
  &:hover {
    .Mao-btn-showL {
      opacity: 0.3;
      width: 10%;
      animation: mymove 0.8s;
      opacity: 0.3;
      width: 10%;
      animation: mymove 0.8s;
    }
    .Mao-btn-show {
      left: -10%;
      opacity: 0.3;
      width: 150%;
    }
    border: 1px solid #ddd;
  }
}
.Mao-btn-show {
  transition: 0.3s;
  opacity: 0;
  position: absolute;
  left: 60%;
  top: -10px;
  background: #888;
  width: 5%;
  height: 200%;
  transform: skewX(-20deg);
}
.Mao-btn-showL {
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  left: 0%;
  top: -10px;
  background: transparent;
  width: 5%;
  height: 200%;
  transform: skewX(-20deg);
}
.Mao-btn-amount-img {
  margin-right: 5px;
}
.Mao-rand-AD-title-box {
  position: relative;
  overflow: hidden;
  transition: 1s;
  &:hover {
    transition: 1s;
    opacity: 0.7;
    .Mao-rand-AD-title {
      transition: 1s;
      height: 50%;
      bottom: -10px;
    }
  }
}

.Mao-btn-in-favor{
  width:25px;
  height: 25px;
  margin: 0px 15px 0px 18px;
}


.Mao-rand-AD-title {
  display: flex;
  justify-content: center;
  position: absolute;
  background: rgba(220, 220, 220, 0.6);
  letter-spacing: 5px;
  width: 100%;
  padding: 15px;
  bottom: -700px;
  height: 150%;
  left: 0;
  z-index: 1;
  color: $black;
  transition: 1s;
}
.Mao-rand-AD {
  width: 350px;
  height: 500px;
  overflow: hidden;
  margin: 0 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Mao-del-img{
    width: 25px;
    height: 25px;
    margin-right: 15px;
    margin-left: 18px;
}
.Mao-shopcart-list-outsidest{
  display: flex;
  max-width: 1300px;
  margin:16px 0px;
}
// ----------------------RWD-----------------------

@media (max-width:576px){
  // .container{
  //   padding:0;
  // }
  .Mao-shopcart-list-outsidest{
    max-width:576px;
    flex-direction: column;
  }
  .Mao-CartNoItem-shoplist{
    padding: 0;
  }
  .Mao-shopcart-check-item-ul{
    width:570px;
  }
  .Mao-shopcart-check-item{
    display: flex;
    width:550px;
    padding: 3px;
  }
  
  .Mao-shopcart-check-item >img{
    margin:auto 15px;
  }
  .Mao-shopcart-check-item-info{
    display: flex;
    justify-content: start;
    align-items: flex-start;
  }
  .Mao-shopcart-check-item-info >div{
    display: flex;
    // flex-direction: column;
  }
  .Mao-shopcart-check-item-info >div>p{
    margin-right: 25px;
  }
  .Mao-btn-amount-whiteLike {
    // flex-direction: column;
    padding:0;
    height: 100%;
    border:1px solid #ddd;
  }
  .Mao-btn-in-favor{
    margin: 0px;
  }
  .Mao-btn-amount-whiteDel {
    display: none;
    padding: 0;
    padding-left:10px;
    height: 50px;
  }
  .Mao-del-img{
  margin-left: 5px;
  padding:0
  }
  .Mao-btn-show{
    opacity: 0;
    display: none;
  }
  .Mao-btn-showL{
    opacity: 0;
    display: none;
  }
  .Mao-shopcart-check-item-action{
    width:25%;
  }
}
