@import 'variables';

body {
  background-color: $background;
  font-family: '微軟正黑體', sans-serif;
}

.container {
  width: 100%;
}
@media (min-width: 1360px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 1360px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1300px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-bold;
}
